@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --bg-color: rgb(229, 234, 238);
    --color-primary: #00ad74;
    --color-secondary: #008c86;
    --font-family: Roboto, "Arial", "Helvetica", sans-serif;
}

body {
height: 100vh;
font-family: var(--font-family);
line-height: 1;
background-color: var(--bg-color);
margin: 0;
min-height: 100vh;
overflow-x: hidden;
}

#app {
max-width: 1200px;
margin:  auto;
padding: 20px;
display: flex;
flex-direction: column;
gap: 30px;
align-items: center;
justify-content: center;
}

h1 {
font-size: 2.5rem;
font-weight: 700;

}

h2 {
font-size: 2rem;
font-weight: 600;
}

h3 {
font-size: 1.5rem;
font-weight: 500;
}

a {
text-decoration: none;
color: inherit;
cursor: pointer;
}

input {
padding: 10px;
border: 1px solid var(--color-primary);
border-radius: 4px;
font-size: 16px;
min-width: 360px;
}

button {
display: inline-block;
padding: 12px 24px;
background-color: var(--color-primary);
color: #fff;
cursor: pointer;
border: none;
border-radius: 4px;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
transition: background-color 0.3s ease;
}

button:hover {
background-color: var(--color-secondary);
}

#contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

.card img {
  display: block;
  max-width: 200px;
  margin: 0 auto 16px;
}

.card p {
  margin: 8px 0;
  line-height: 1.5;
}
